<template>
  <b-navbar id="nav">
    <img src="../assets/j.png" id="logo" />
    <div id="left">
      <div id="jf">JobFinder</div>
      <div id="description">
        เว็บไซต์หางาน สมัครงาน รวมตำแหน่งงานมากมาย จากบริษัทชั้นนำทั่วประเทศ
      </div>
    </div>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown :text="name" right>
          <b-dropdown-item @click="logout" router-link to="/">ออกจากระบบ</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      user: 'No User'
    }
  },
  methods: {
    setUser () {
      if (this.$session.exists()) {
        this.user = this.$session.get('user').name + ' ' + this.$session.get('user').surname
      } else {
        this.user = 'No User'
      }
    },
    logout () {
      axios
        .post('http://localhost:3000/users/logout')
        .then(res => {
          this.$session.destroy()
          location.reload()
          this.$router.push('/')
        })
    }
  },
  mounted () {
    this.setUser()
  },
  computed: {
    name: function () {
      // `this` points to the vm instance
      if (this.$session.exists()) {
        return this.$session.get('user').name + ' ' + this.$session.get('user').surname
      } else {
        return 'No User'
      }
    }
  }
}
</script>

<style>
#description {
  font-family: Blinker;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
}
#jf {
  font-family: Blinker;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 24px;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 261px;
  height: 100px;
}
#logo {
  height: 64px;
  width: 64px;
  margin-right: 4.5px;
}
#left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  padding: 4px 0px;
}
.navbar-light .navbar-nav .nav-link {
  color: black !important;
  font-family: Blinker;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
</style>
