<template>
  <b-container fluid>
    <b-row>
      <b-col><component v-bind:is="header" /></b-col>
    </b-row>
    <b-row>
      <b-col><component v-bind:is="menu" /></b-col>
    </b-row>
    <b-row>
      <b-col><router-view></router-view></b-col>
    </b-row>
  </b-container>
</template>

<script>
import HeaderNomember from './HeaderNomember'
import Headermember from './Header'
import MenuNoMem from './MenuNomember'
import MenuApp from './MenuMember'
import MenuHR from './Menu'
export default {
  components: {
    HeaderNomember,
    Headermember,
    MenuNoMem,
    MenuApp,
    MenuHR
  },
  data () {
    return {
      header: 'HeaderNomember',
      menu: 'MenuNoMem'
    }
  },
  methods: {
    checkRole () {
      if (!this.$session.exists()) {
        this.header = 'HeaderNomember'
        this.menu = 'MenuNoMem'
      } else {
        this.header = 'Headermember'
        if (this.$session.get('user').role === 'applicant') {
          this.menu = 'MenuApp'
        } else if (this.$session.get('user').role === 'hr') {
          this.menu = 'MenuHR'
        }
      }
    }
  },
  mounted () {
    this.checkRole()
    // console.log(this.$session.get('user'))
  }
}
</script>

<style>
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  padding: 0px !important;
}
</style>
