<template>
  <b-nav id="menubar">
    <b-nav-item router-link to="/" class="item">หน้าแรก</b-nav-item>
    <b-nav-item router-link to="/userManagementCompany" class="item"
      >จัดการข้อมูลส่วนบุคคล</b-nav-item
    >
    <b-nav-item router-link to="/anms" class="item"
      >จัดการประกาศรับสมัคร</b-nav-item
    >
    <b-nav-item router-link to="/manageApplicant" class="item"
      >จัดการผู้สมัครงาน</b-nav-item
    >
  </b-nav>
</template>
<style>
#menubar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 267.5px;
  background: #2a6465;
  height: 60px;
}
.item a {
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.item a:hover {
  color: #ffffff;
  background: #123233;
}
.item a:active {
  color: #ffffff;
  background: #123233;
}
.item > .router-link-exact-active {
  color: #ffffff;
  background: #123233;
}
</style>
