<template>
  <b-container class="pt-3">
    <div>
      <h3
        style="text-align: center; font-style: normal; font-weight: bold; margin-top: 25px"
      >
        จัดการผู้สมัครงาน
      </h3>
      <b-table striped hover :items="acList" :fields="fields">
        <template v-slot:cell(operation)="data"
          ><b-button
            @click="showDetails(data.item)"
            variant="primary"
            router-link
            :to="{ name: 'showApplicant', params: { id: data.item.id } }"
            >ดูรายละเอียด</b-button
          >
        </template>
      </b-table>
    </div>
  </b-container>
</template>

<script>
import axios from 'axios'
import Service from './Service.js'
export default {
  data () {
    return {
      acList: [],
      fields: [
        { key: 'name', label: 'ชื่อ' },
        { key: 'surname', label: 'สกุล' },
        { key: 'position', label: 'ตำแหน่งงาน' },
        { key: 'experience', label: 'ประสบการณ์การทำงาน (ปี)' },
        { key: 'province', label: 'ที่อยู่(จังหวัด)' },
        { key: 'education', label: 'ระดับการศึกษา' },
        { key: 'operation', label: 'Operations' }
      ]
    }
  },
  methods: {
    showDetails (data) {
      // console.log(data)
    },
    getApplicants () {
      // this.userList = userservice.getUsers()
      axios
        .get('http://localhost:3000/applicants')
        .then(res => {
          console.log(res)
          this.acList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mouted')
    this.acList = Service.getApplicants()
    // this.getApplicants()
  }
}
</script>
