<template>
  <div>
    <h3
      style="text-align: center; font-style: normal; font-weight: bold; margin-top: 25px"
    >
      ดูรายละเอียดข้อมูลผู้สมัครงาน
    </h3>
    <div
      style="margin-top:30px; width:700px; height:600px; border: groove black 2px; border-radius: 3px;"
      class="container"
    >
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px; margin-top: 20px" class="col">
          ชื่อ: {{ Applicant.name }}
        </div>
        <div style="margin-top: 20px" class="col">
          สกุล: {{ Applicant.surname }}
        </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          เกิดวันที่: {{ Applicant.birthday }}
        </div>
        <div class="col">สถานภาพสมรส: {{ Applicant.marital_status }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          เพศ: {{ Applicant.gender }}
        </div>
        <div class="col">สัญชาติ: {{ Applicant.nationality }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          ศาสนา: {{ Applicant.religion }}
        </div>
        <div class="col">ที่อยู่ปัจจุบัน: {{ Applicant.house_number }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          ตำบล/แขวง: {{ Applicant.district }}
        </div>
        <div class="col">เขต/อำเภอ: {{ Applicant.canton }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          จังหวัด: {{ Applicant.province }}
        </div>
        <div class="col">เบอร์โทรศัพท์: {{ Applicant.phone_number }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          รหัสไปรษณีย์: {{ Applicant.postal_code }}
        </div>
        <div class="col">วุฒิการศึกษา: {{ Applicant.education }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          ชื่อสถานศึกษา: {{ Applicant.university }}
        </div>
        <div class="col">คณะ: {{ Applicant.faculty }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px;" class="col">
          สาขาวิชา: {{ Applicant.field_of_study }}
        </div>
        <div class="col">เกรดเฉลี่ย: {{ Applicant.grade }}</div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px;" class="col">
          ความสามารถทางภาษา: {{ Applicant.language_ability }}
        </div>
        <div class="col">ความสามารถพิเศษ: {{ Applicant.charisma }}</div>
      </div>
      <div style="margin-top:40px" class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div style="margin-left: 40px; " class="col">
          <b-button variant="success" router link to="/manageApplicant"
            >ยืนยันรับสมัคร</b-button
          >
        </div>
        <div style="margin-left: -60px;" class="col">
          <b-button variant="danger" router link to="/manageApplicant"
            >ปฏิเสธ</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      Applicant: {
        id: 1,
        name: 'ภควัฒน์ ',
        surname: 'คำนึงคุณากร',
        position: 'Senior Developer',
        experience: '2 ปี',
        province: 'กรุงเทพ',
        education: 'ปริญาตรี',
        birthday: '01/01/2542',
        marital_status: 'โสด',
        gender: 'ชาย',
        nationality: 'ไทย',
        religion: 'พุทธ',
        house_number: '97/08',
        district: 'แก่งผักกูด',
        canton: 'ลพบุรี',
        postal_code: 15230,
        phone_number: '098-6082329',
        university: 'มหาวิทยาลัยบูรพา',
        faculty: 'วิทยาการสารสนเทศ',
        field_of_study: 'วิทยาการคอมพิวเตอร์',
        grade: 2.85,
        language_ability: 'English, China, Franch',
        charisma: 'C, Java, CSS, HTML, Javascrip'
      }
    }
  },
  methods: {
    getApplicant () {
      var id = this.$route.params.id
      axios
        .get('http://localhost:3000/applicants/' + id)
        .then(res => {
          console.log(res)
          this.Applicant = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    // console.log(id)
    // console.log(Service.getApplicant(id))
    // console.log(Service.getApplicant(id))
  }
}
</script>
