<template>
  <div>
    <p class="text-center mt-4">จัดการประกาศรับสมัครงาน</p>
    <b-container>
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อประกาศ:" label-for="name">
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group label="สายอาชีพ:" label-for="career">
          <b-form-select
            id="career"
            v-model="form.career"
            :options="careerOption"
            @change="setPosition()"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group label="ตำแหน่งงาน:" label-for="position">
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOption"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group label="สถานปฏิบัติงาน:" label-for="address">
          <b-form-select
            id="address"
            v-model="form.address"
            :options="cAddressOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group label="เงินเดือน:" label-for="salary">
          <b-row>
            <b-col>
              <b-form-input
                type="number"
                id="min_salary"
                v-model="form.min_salary"
                required
              ></b-form-input>
            </b-col>
            ถึง
            <b-col>
              <b-form-input
                type="number"
                id="max_salary"
                v-model="form.max_salary"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group label="รายละเอียด:" label-for="description">
          <b-form-textarea
            type="text"
            id="description"
            v-model="form.description"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group label="สวัสดิการ:" label-for="benefit">
          <b-form-textarea
            type="text"
            id="benefit"
            v-model="form.benefit"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          label="เพศ:"
          label-for="gender"
          v-slot="{ ariaDescribedby }"
        >
          <b-form-radio-group
            id="gender"
            v-model="form.gender"
            :options="genderOption"
            :aria-describedby="ariaDescribedby"
            name="radio-inline-gender"
          ></b-form-radio-group>
        </b-form-group>

        <b-form-group label="อายุ:" label-for="age">
          <b-row>
            <b-col>
              <b-form-input
                type="number"
                id="min_age"
                v-model="form.min_age"
                required
              ></b-form-input>
            </b-col>
            ถึง
            <b-col>
              <b-form-input
                type="number"
                id="max_age"
                v-model="form.max_age"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group label="จำนวนที่รับ:" label-for="amount">
          <b-form-input
            type="number"
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="ระดับการศึกษา:" label-for="educate">
          <b-form-select
            id="educate"
            v-model="form.educate"
            :options="educateOption"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group label="ประสบการณ์การทำงาน :" label-for="yearExperience">
          <b-row>
            <b-col>
              <b-form-input
                type="number"
                id="min_experience"
                v-model="form.min_experience"
                required
              ></b-form-input>
            </b-col>
            ถึง
            <b-col>
              <b-form-input
                type="number"
                id="max_experience"
                v-model="form.max_experience"
                required
              ></b-form-input>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group
          label="รับนักศึกษาจบใหม่:"
          label-for="newGraduates"
          v-slot="{ ariaDescribedby }"
        >
          <b-form-radio-group
            id="newGraduates"
            v-model="form.new_graduates"
            :options="newGraduatesOption"
            :aria-describedby="ariaDescribedby"
            name="radio-inline-newGraduates"
          ></b-form-radio-group>
        </b-form-group>

        <b-form-group
          label="ประเภทงาน:"
          label-for="type_job"
          v-slot="{ ariaDescribedby }"
        >
          <b-form-radio-group
            id="type_job"
            v-model="form.type_job"
            :options="typeJobOption"
            :aria-describedby="ariaDescribedby"
            name="radio-inline-type_job"
          ></b-form-radio-group>
        </b-form-group>

        <b-form-group label="คุณสมบัติ:" label-for="properties">
          <b-form-textarea
            type="text"
            id="properties"
            v-model="form.properties"
            required
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          class="mb-3"
          label="วันที่เปิดประกาศ:"
          label-for="dateOpen"
        >
          <b-form-input
            id="date_open"
            v-model="form.date_open"
            type="text"
            placeholder="YYYY-MM-DD"
            autocomplete="off"
            disabled
          ></b-form-input>
        </b-form-group>
        <b-form-group
          class="mb-3"
          label="วันที่ปิดประกาศ:"
          label-for="date_close"
        >
          <b-row>
            <b-col class="col-10">
              <b-form-input
                id="date_close"
                v-model="form.date_close"
                type="text"
                placeholder="YYYY-MM-DD"
                autocomplete="off"
                disabled
              ></b-form-input>
            </b-col>
            <b-col class="col-2">
              <b-form-datepicker
                v-model="form.date_close"
                button-only
                right
                locale="en-US"
                aria-controls="example-input"
              ></b-form-datepicker>
            </b-col>
          </b-row>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
      </form>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
// import lsit from './index'
// import userService from './UserService'
export default {
  data () {
    return {
      form: {
        name: '',
        job: '',
        amount: 0,
        address: null,
        min_salary: 0,
        max_salary: 0,
        description: '',
        benefit: '',
        gender: 'All gender',
        min_age: 0,
        max_age: 0,
        educate: null,
        type_job: 'full_time',
        min_experience: 0,
        max_experience: 0,
        new_graduates: true,
        properties: '',
        dateOpen: '',
        dateClose: ''
      },
      title: '',
      newGraduatesOption: [
        { value: true, text: 'รับ' },
        { value: false, text: 'ไม่รับ' }
      ],
      typeJobOption: [
        { value: 'full_time', text: 'พนักงานประจำ' },
        { value: 'part_time', text: 'พนักงานชั่วคราว' }
      ],
      genderOption: [
        { value: 'All gender', text: 'ทั้งสองเพศ' },
        { value: 'Male', text: 'ผู้ชาย' },
        { value: 'Femlae', text: 'ผู้หญิง' }
      ],
      educateOption: [
        { value: null, text: 'Select one' },
        { value: 'High school', text: 'มัธยมปลาย' },
        { value: 'Ph.D.', text: 'ปริญญาเอก' },
        { value: 'bachelor', text: 'ปริญญาตรี' },
        { value: 'masters degree', text: 'ปริญญาโท' }
      ],
      cAddressOption: [
        { value: null, text: 'Select one' },
        { value: 'Chonburi', text: 'ชลบุรี' },
        { value: 'Bangkok', text: 'กรุงเทพ' }
      ],
      // militaryOption: [
      //   { value: 'Pass', text: 'ผ่านการเกณฑ์ทหารแล้ว' },
      //   { value: 'militatyStudent', text: 'ผ่านการเรียนรด.ปี 3 แล้ว' },
      //   { value: 'NotPass', text: 'ยังไม่ผ่านการเกณฑ์ทหาร' }
      // ],
      status: [
        { key: true, text: 'เปิดรับสมัคร' },
        { key: false, text: 'ปิดรับสมัคร' }
      ],
      careerOption: [{ value: null, text: 'Select one' }],
      positionOption: [{ value: null, text: 'Select one' }]
    }
  },
  methods: {
    // checkCareer (event) {
    //   console.log(event.target.value)
    //   if (this.form.career === 'programmer/it') {
    //     this.positionOption = [
    //       { value: 'programmer', text: 'โปรแกรมเมอร์' },
    //       { value: 'data Analisy', text: 'นักวิเคราะห์ข้อมูล' }
    //     ]
    //   } else if (this.form.career === 'legalwork') {
    //     this.positionOption = [
    //       { value: 'Lawyer1', text: 'ทนาย1' },
    //       { value: 'Lawyer2', text: 'ทนาย2' }
    //     ]
    //   }
    // },
    addNewAnm () {
      console.log('addNew')
      this.title = 'กรุณาเพิ่มผู้ใช้งาน'
      // this.$bvModal.show('modal-form-anm')
    },
    // editAnm (anm) {
    //   this.title = 'แก้ไขผู้ใช้งาน'
    //   console.log('edit')
    //   console.log(anm)
    //   this.$bvModal.show('modal-form-anm')
    //   this.form = anm
    // },
    // delAnm (anm) {
    //   this.$bvModal
    //     .msgBoxConfirm('ท่านต้องการลบ ' + anm.name + ' หรือไม่!!!', {
    //       title: 'กรุณายืนยัน',
    //       size: 'sm',
    //       buttonSize: 'sm',
    //       okVariant: 'danger',
    //       okTitle: 'YES',
    //       cancelTitle: 'NO',
    //       footerClass: 'p-2',
    //       hideHeaderClose: false,
    //       centered: true
    //     })
    //     .then(value => {
    //       if (value) {
    //         // userService.deleteUser(user)
    //         const { id } = anm.id
    //         axios
    //           .delete('http://localhost:3000/anms/' + parseInt(id))
    //           .then(res => {
    //             console.log(res)
    //             this.getAnms()
    //           })
    //           .catch(err => {
    //             console.log(err)
    //           })
    //         this.getAnms()
    //       }
    //     })
    // },
    resetModal () {
      this.form = {
        name: '',
        job: '',
        amount: 0,
        address: null,
        min_salary: 0,
        max_salary: 0,
        description: '',
        benefit: '',
        gender: 'All gender',
        min_age: 0,
        max_age: 0,
        educate: null,
        min_experience: 0,
        max_experience: 0,
        new_graduates: true,
        properties: '',
        dateOpen: '',
        dateClose: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate

      // if (this.form._id !== '-1') {
      //   // this.updateUser(this.form)
      //   console.log(this.form._id)
      //   axios
      //     .put('http://localhost:3000/anms/' + this.form._id, this.form)
      //     .then(res => {
      //       console.log(res)
      //       this.getAnms()
      //     })
      //     .catch(err => {
      //       console.log(err)
      //     })
      //   this.getAnms()
      // } else {
      //   // this.addUser(this.form)
      console.log(this.form)
      axios
        .post('http://localhost:3000/anms/', this.form)
        .then(res => {
          console.log(res.data)
          this.resetModal()
        })
        .catch(err => {
          console.log(err)
        })
      // Do when pass validations
      // if (this.form.id > 0) {
      //   // this.updateUser(this.form)
      //   axios
      //     .put('http://localhost:3000/anms/' + this.form.id, this.form)
      //     .then(res => {
      //       console.log(res)
      //       this.getAnms()
      //     })
      //     .catch(err => {
      //       console.log(err)
      //     })
      //   this.getAnms()
      // } else {
      // this.addUser(this.form)
    },
    // getAnms () {
    //   // this.userList = userService.getAnms()
    //   axios
    //     .get('http://localhost:3000/anms/')
    //     .then(res => {
    //       // console.log(res)
    //       console.log(res.data.anms)
    //       this.AnmsList = res.data.anms
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // },
    // ,getAnm (anm) {
    //   // this.userList = userService.getAnms()
    //   axios
    //     .get('http://localhost:3000/anms/' + this.anm.id)
    //     .then(res => {
    //       console.log(res)
    //       this.AnmsList = res.data
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // }
    getTime () {
      const today = new Date()
      const date =
        today.getFullYear() +
        '-' +
        (today.getMonth() + 1) +
        '-' +
        today.getDate()
      return date
    },
    getJobs () {
      axios
        .get('http://localhost:3000/jobs')
        .then(res => {
          var test
          res.data.jobs.forEach(item => {
            test = {
              value: item.career,
              text: item.career
            }
            var check = false
            for (let index = 0; index < this.careerOption.length; index++) {
              if (this.careerOption[index].value === test.value) {
                check = true
                break
              }
            }
            if (!check) {
              this.careerOption.push(test)
            }
          })
        })
        .catch(err => {
          console.log(err)
        })
    },

    setPosition () {
      axios
        .get('http://localhost:3000/jobs')
        .then(res => {
          var test
          if (this.form.career !== '') {
            this.positionOption = [{ value: null, text: 'Select one' }]
            res.data.jobs.forEach(item => {
              if (item.career === this.form.job.career) {
                test = {
                  value: item.position,
                  text: item.position
                }
                this.form.job = item._id
                this.positionOption.push(test)
              }
            })
          }
          console.log(this.positionOption)
        })
        .catch(err => {
          console.log(err)
        })
    },
    getAnm () {
      var _id = this.$route.params.id
      axios
        .get('http://localhost:3000/anms/' + _id)
        .then(res => {
          // console.log(res.data)
          this.form = res.data.anms
          console.log(this.form.job.career)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {},
  mounted () {
    this.getAnm()
    this.getJobs()
  }
}
</script>
