<template>
  <div>
    <b-container class="bv-example-row pt-3">
      <b-card class="pa-5">
        <b-row class="justify-content-md-center">
          <h5>เพิ่มประกาศประกาศรับสมัครงาน</h5>
        </b-row>
        <b-container>
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-container class="bv-example-row">
              <b-row>
                <b-col
                  ><b-form-group
                    label="ชื่อประกาศ:"
                    label-for="name"
                    :invalid-feedback="invalidFeedbackName"
                    :valid-feedback="validFeedbackName"
                    :state="stateName"
                  >
                    <b-form-input
                      id="name"
                      v-model="form.name"
                      required
                    ></b-form-input> </b-form-group
                ></b-col>
                <b-col
                  ><b-form-group
                    label="สายอาชีพ:"
                    label-for="career"
                    :invalid-feedback="invalidFeedbackCareer"
                    :valid-feedback="validFeedbackCareer"
                    :state="stateCareer"
                  >
                    <b-form-select
                      id="career"
                      v-model="form.career"
                      :options="careerOption"
                      @change="setPosition()"
                      required
                    ></b-form-select> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    label="ตำแหน่งงาน:"
                    label-for="position"
                    :invalid-feedback="invalidFeedbackPosition"
                    :valid-feedback="validFeedbackPosition"
                    :state="statePosition"
                  >
                    <b-form-select
                      id="position"
                      v-model="form.position"
                      :options="positionOption"
                      required
                    ></b-form-select> </b-form-group
                ></b-col>
                <b-col
                  ><b-form-group
                    label="สถานปฏิบัติงาน:"
                    label-for="address"
                    :invalid-feedback="invalidFeedbackCompanyAddress"
                    :valid-feedback="validFeedbackCompanyAddress"
                    :state="stateCompanyAddress"
                  >
                    <b-form-select
                      id="address"
                      v-model="form.address"
                      :options="cAddressOption"
                      required
                    ></b-form-select> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    label="เงินเดือน:"
                    label-for="salary"
                    :invalid-feedback="invalidFeedbackSalary"
                    :valid-feedback="validFeedbackSalary"
                    :state="stateSalary"
                  >
                    <b-row>
                      <b-col>
                        <b-form-input
                          type="number"
                          id="min_salary"
                          v-model="form.min_salary"
                          required
                        ></b-form-input>
                      </b-col>
                      ถึง
                      <b-col>
                        <b-form-input
                          type="number"
                          id="max_salary"
                          v-model="form.max_salary"
                          required
                        ></b-form-input>
                      </b-col>
                    </b-row> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    label="รายละเอียด:"
                    label-for="description"
                    :invalid-feedback="invalidFeedbackDescription"
                    :valid-feedback="validFeedbackDescription"
                    :state="stateDescription"
                  >
                    <b-form-textarea
                      type="text"
                      id="description"
                      v-model="form.description"
                      required
                    ></b-form-textarea> </b-form-group
                ></b-col>

                <div class="w-100"></div>
                <b-col>
                  <b-form-group
                    label="สวัสดิการ:"
                    label-for="benefit"
                    :invalid-feedback="invalidFeedbackBenefit"
                    :valid-feedback="validFeedbackBenefit"
                    :state="stateBenefit"
                  >
                    <b-form-textarea
                      type="text"
                      id="benefit"
                      v-model="form.benefit"
                      required
                    ></b-form-textarea> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group
                    label="เพศ:"
                    label-for="gender"
                    v-slot="{ ariaDescribedby }"
                    :invalid-feedback="invalidFeedbackGender"
                    :valid-feedback="validFeedbackGender"
                    :state="stateGender"
                  >
                    <b-form-radio-group
                      id="gender"
                      v-model="form.gender"
                      :options="genderOption"
                      :aria-describedby="ariaDescribedby"
                      name="radio-inline-gender"
                    ></b-form-radio-group> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group
                    label="อายุ:"
                    label-for="age"
                    :invalid-feedback="invalidFeedbackAge"
                    :valid-feedback="validFeedbackAge"
                    :state="stateAge"
                  >
                    <b-row>
                      <b-col>
                        <b-form-input
                          type="number"
                          id="min_age"
                          v-model="form.min_age"
                          required
                        ></b-form-input>
                      </b-col>
                      ถึง
                      <b-col>
                        <b-form-input
                          type="number"
                          id="max_age"
                          v-model="form.max_age"
                          required
                        ></b-form-input>
                      </b-col>
                    </b-row> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    label="จำนวนที่รับ:"
                    label-for="amount"
                    :invalid-feedback="invalidFeedbackAmount"
                    :valid-feedback="validFeedbackAmount"
                    :state="stateAmount"
                  >
                    <b-form-input
                      type="number"
                      id="amount"
                      v-model="form.amount"
                      required
                    ></b-form-input> </b-form-group
                ></b-col>
                <b-col>
                  <b-form-group
                    label="ระดับการศึกษา:"
                    label-for="educate"
                    :invalid-feedback="invalidFeedbackEducate"
                    :valid-feedback="validFeedbackEducate"
                    :state="stateEducate"
                  >
                    <b-form-select
                      id="educate"
                      v-model="form.educate"
                      :options="educateOption"
                      required
                    ></b-form-select> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    label="ประสบการณ์การทำงาน :"
                    label-for="yearExperience"
                    :invalid-feedback="invalidFeedbackExperience"
                    :valid-feedback="validFeedbackExperience"
                    :state="stateExperience"
                  >
                    <b-row>
                      <b-col>
                        <b-form-input
                          type="number"
                          id="min_experience"
                          v-model="form.min_experience"
                          required
                        ></b-form-input>
                      </b-col>
                      ถึง
                      <b-col>
                        <b-form-input
                          type="number"
                          id="max_experience"
                          v-model="form.max_experience"
                          required
                        ></b-form-input>
                      </b-col>
                    </b-row> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-col> </b-col
                  ><b-form-group
                    label="ยินดีรับนักศึกษาฝึกงาน:"
                    label-for="newGraduates"
                    v-slot="{ ariaDescribedby }"
                    :invalid-feedback="invalidFeedbackNewGraduates"
                    :valid-feedback="validFeedbackNewGraduates"
                    :state="stateNewGraduates"
                  >
                    <b-form-radio-group
                      id="newGraduates"
                      v-model="form.new_graduates"
                      :options="newGraduatesOption"
                      :aria-describedby="ariaDescribedby"
                      name="radio-inline-newGraduates"
                    ></b-form-radio-group> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    label="ประเภทงาน:"
                    label-for="type_job"
                    v-slot="{ ariaDescribedby }"
                    :invalid-feedback="invalidFeedbackNewGraduates"
                    :valid-feedback="validFeedbackNewGraduates"
                    :state="stateNewGraduates"
                  >
                    <b-form-radio-group
                      id="type_job"
                      v-model="form.type_job"
                      :options="typeJobOption"
                      :aria-describedby="ariaDescribedby"
                      name="radio-inline-type_job"
                    ></b-form-radio-group> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col>
                  <b-form-group
                    label="คุณสมบัติ:"
                    label-for="properties"
                    :invalid-feedback="invalidFeedbackProperties"
                    :valid-feedback="validFeedbackProperties"
                    :state="stateProperties"
                  >
                    <b-form-textarea
                      type="text"
                      id="properties"
                      v-model="form.properties"
                      required
                    ></b-form-textarea> </b-form-group
                ></b-col>
                <div class="w-100"></div>
                <b-col
                  ><b-form-group
                    class="mb-3"
                    label="วันที่เปิดประกาศ:"
                    label-for="dateOpen"
                  >
                    <b-form-input
                      id="date_open"
                      v-model="form.date_open"
                      type="text"
                      placeholder="YYYY-MM-DD"
                      autocomplete="off"
                      disabled
                    ></b-form-input> </b-form-group
                ></b-col>
                <b-col
                  ><b-form-group
                    class="mb-3"
                    label="วันที่ปิดประกาศ:"
                    label-for="date_close"
                    :invalid-feedback="invalidFeedbackDateClose"
                    :valid-feedback="validFeedbackDateClose"
                    :state="stateDateClose"
                  >
                    <b-row>
                      <b-form-input
                        type="date"
                        v-model="form.date_close"
                        required
                      ></b-form-input>
                    </b-row> </b-form-group
                ></b-col>
                <!-- <div class="w-100"></div>
                <b-col>Column</b-col> -->
                <div class="w-100"></div>
                <b-col cols="12" md="11">
                  <b-button class="float-right" type="submit" variant="success"
                    >บันทึก</b-button
                  ></b-col
                >
                <b-col cols="6" md="1">
                  <b-button
                    class="float-right"
                    type="reset"
                    variant="danger"
                    router
                    link
                    to="/anms"
                    >ยกเลิก</b-button
                  ></b-col
                >
              </b-row>
            </b-container>
          </form>
        </b-container>
      </b-card>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
// import lsit from './index'
// import userService from './UserService'
export default {
  data () {
    return {
      form: {
        name: '',
        job: '',
        position: '',
        amount: 0,
        address: null,
        min_salary: 0,
        max_salary: 0,
        description: '',
        benefit: '',
        gender: 'All gender',
        min_age: 0,
        max_age: 0,
        educate: null,
        min_experience: 0,
        max_experience: 0,
        new_graduates: false,
        type_job: 'full_time',
        properties: '',
        date_open: this.getTime(),
        date_close: '',
        status: true
      },
      hr: {
        _id: this.$session.get('user')._id
      },
      title: '',
      newGraduatesOption: [
        { value: true, text: 'รับ' },
        { value: false, text: 'ไม่รับ' }
      ],
      typeJobOption: [
        { value: 'full_time', text: 'พนักงานประจำ' },
        { value: 'part_time', text: 'พนักงานชั่วคราว' }
      ],
      genderOption: [
        { value: 'Male', text: 'ผู้ชาย' },
        { value: 'Femlae', text: 'ผู้หญิง' },
        { value: 'All gender', text: 'ทั้งสองเพศ' }
      ],

      educateOption: [
        { value: null, text: 'Select one' },
        { value: 'High school', text: 'มัธยมปลาย' },
        { value: 'Ph.D.', text: 'ปริญญาเอก' },
        { value: 'bachelor', text: 'ปริญญาตรี' },
        { value: 'masters degree', text: 'ปริญญาโท' }
      ],
      cAddressOption: [
        { value: null, text: 'Select one' },
        { value: 'Chonburi', text: 'ชลบุรี' },
        { value: 'Bangkok', text: 'กรุงเทพ' }
      ],
      // militaryOption: [
      //   { value: 'Pass', text: 'ผ่านการเกณฑ์ทหารแล้ว' },
      //   { value: 'militatyStudent', text: 'ผ่านการเรียนรด.ปี 3 แล้ว' },
      //   { value: 'NotPass', text: 'ยังไม่ผ่านการเกณฑ์ทหาร' }
      // ],
      status: [
        { key: true, text: 'เปิดรับสมัคร' },
        { key: false, text: 'ปิดรับสมัคร' }
      ],
      careerOption: [{ value: null, text: 'Select one' }],
      positionOption: [{ value: null, text: 'Select one' }]
    }
  },
  methods: {
    // checkCareer (event) {
    //   console.log(event.target.value)
    //   if (this.form.career === 'programmer/it') {
    //     this.positionOption = [
    //       { value: 'programmer', text: 'โปรแกรมเมอร์' },
    //       { value: 'data Analisy', text: 'นักวิเคราะห์ข้อมูล' }
    //     ]
    //   } else if (this.form.career === 'legalwork') {
    //     this.positionOption = [
    //       { value: 'Lawyer1', text: 'ทนาย1' },
    //       { value: 'Lawyer2', text: 'ทนาย2' }
    //     ]
    //   }
    // },
    addNewAnm () {
      console.log('addNew')
      this.title = 'กรุณาเพิ่มผู้ใช้งาน'
      // this.$bvModal.show('modal-form-anm')
    },
    // editAnm (anm) {
    //   this.title = 'แก้ไขผู้ใช้งาน'
    //   console.log('edit')
    //   console.log(anm)
    //   this.$bvModal.show('modal-form-anm')
    //   this.form = anm
    // },
    // delAnm (anm) {
    //   this.$bvModal
    //     .msgBoxConfirm('ท่านต้องการลบ ' + anm.name + ' หรือไม่!!!', {
    //       title: 'กรุณายืนยัน',
    //       size: 'sm',
    //       buttonSize: 'sm',
    //       okVariant: 'danger',
    //       okTitle: 'YES',
    //       cancelTitle: 'NO',
    //       footerClass: 'p-2',
    //       hideHeaderClose: false,
    //       centered: true
    //     })
    //     .then(value => {
    //       if (value) {
    //         // userService.deleteUser(user)
    //         const { id } = anm.id
    //         axios
    //           .delete('http://localhost:3000/anms/' + parseInt(id))
    //           .then(res => {
    //             console.log(res)
    //             this.getAnms()
    //           })
    //           .catch(err => {
    //             console.log(err)
    //           })
    //         this.getAnms()
    //       }
    //     })
    // },
    resetModal () {
      this.form = {
        name: '',
        job: '',
        amount: 0,
        address: null,
        min_salary: 0,
        max_salary: 0,
        description: '',
        benefit: '',
        gender: 'All gender',
        min_age: 0,
        max_age: 0,
        educate: null,
        min_experience: 0,
        max_experience: 0,
        type_job: 'full_time',
        new_graduates: true,
        properties: '',
        date_open: this.getTime(),
        date_close: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
      window.location.pathname = '/anms'
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateCareer === false ||
        this.statePosition === false ||
        this.stateAmount === false ||
        this.stateSalary === false ||
        this.stateProperties === false ||
        this.stateCompanyAddress === false ||
        this.stateEducate === false ||
        this.stateBenefit === false ||
        this.stateAge === false ||
        this.stateNewGraduates === false ||
        this.stateExperience === false ||
        this.stateDateClose === false
      ) {
        return
      }

      // if (this.form._id !== '-1') {
      //   // this.updateUser(this.form)
      //   console.log(this.form._id)
      //   axios
      //     .put('http://localhost:3000/anms/' + this.form._id, this.form)
      //     .then(res => {
      //       console.log(res)
      //       this.getAnms()
      //     })
      //     .catch(err => {
      //       console.log(err)
      //     })
      //   this.getAnms()
      // } else {
      //   // this.addUser(this.form)

      axios
        .post('http://localhost:3000/anms/', { anm: this.form, hr: this.hr })
        .then(res => {
          console.log(res.data)
          this.resetModal()
          this.$router.push('/anms')
        })
        .catch(err => {
          console.log(err)
        })

      // Do when pass validations
      // if (this.form.id > 0) {
      //   // this.updateUser(this.form)
      //   axios
      //     .put('http://localhost:3000/anms/' + this.form.id, this.form)
      //     .then(res => {
      //       console.log(res)
      //       this.getAnms()
      //     })
      //     .catch(err => {
      //       console.log(err)
      //     })
      //   this.getAnms()
      // } else {
      // this.addUser(this.form)
    },
    // getAnms () {
    //   // this.userList = userService.getAnms()
    //   axios
    //     .get('http://localhost:3000/anms/')
    //     .then(res => {
    //       // console.log(res)
    //       console.log(res.data.anms)
    //       this.AnmsList = res.data.anms
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // },
    // ,getAnm (anm) {
    //   // this.userList = userService.getAnms()
    //   axios
    //     .get('http://localhost:3000/anms/' + this.anm.id)
    //     .then(res => {
    //       console.log(res)
    //       this.AnmsList = res.data
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // }
    getTime () {
      const today = new Date()
      const date =
        today.getFullYear() +
        '-' +
        (today.getMonth() + 1) +
        '-' +
        today.getDate()
      return date
    },
    getJobs () {
      axios
        .get('http://localhost:3000/jobs')
        .then(res => {
          var test
          res.data.jobs.forEach(item => {
            test = {
              value: item.career,
              text: item.career
            }
            var check = false
            for (let index = 0; index < this.careerOption.length; index++) {
              if (this.careerOption[index].value === test.value) {
                check = true
                break
              }
            }
            if (!check) {
              this.careerOption.push(test)
            }
          })
          console.log(this.careerOption)
        })
        .catch(err => {
          console.log(err)
        })
    },
    setPosition () {
      axios
        .get('http://localhost:3000/jobs')
        .then(res => {
          var test
          if (this.form.career !== '') {
            this.positionOption = [{ value: null, text: 'Select one' }]
            res.data.jobs.forEach(item => {
              if (item.career === this.form.career) {
                test = {
                  value: item.position,
                  text: item.position
                }
                this.form.job = item._id
                this.positionOption.push(test)
              }
            })
          }
          console.log(this.positionOption)
        })
        .catch(err => {
          console.log(err)
        })
    }

    // getAnm (anm) {
    //   axios
    //     .get('http://localhost:3000/anms/' + anm)
    //     .then(res => {
    //       // console.log(res)
    //      this.An = res.data
    //       console.log(anm)
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // }
  },

  computed: {
    stateName () {
      return this.form.name.length >= 10
    },
    invalidFeedbackName () {
      if (this.form.name.length > 10) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 10 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.position != null
    },
    invalidFeedbackPosition () {
      if (this.form.position != null) {
        return ''
      } else {
        return 'กรุณาเลือกตำแหน่งงาน'
      }
    },
    validFeedbackPosition () {
      return this.statePosition === true ? 'สำเร็จ' : ''
    },
    stateCareer () {
      return this.form.career != null
    },
    invalidFeedbackCareer () {
      if (this.form.career != null) {
        return ''
      } else {
        return 'กรุณาเลือกสายอาชีพ'
      }
    },
    validFeedbackCareer () {
      return this.stateCareer === true ? 'สำเร็จ' : ''
    },
    stateCompanyAddress () {
      return this.form.address != null
    },
    invalidFeedbackCompanyAddress () {
      if (this.form.address != null) {
        return ''
      } else {
        return 'กรุณาเลือกจังหวัดสาขา'
      }
    },
    validFeedbackCompanyAddress () {
      return this.stateCompanyAddress === true ? 'สำเร็จ' : ''
    },
    stateSalary () {
      return (
        this.form.min_salary > 0 && this.form.max_salary > this.form.min_salary
      )
    },
    invalidFeedbackSalary () {
      if (this.form.min_salary < 0) {
        return 'กรุณาใส่เงินเดือนมากกว่าหรือเท่ากับ 0'
      } else if (this.form.min_salary > this.form.max_salary) {
        return 'กรุณาใส่เงินเดือนสูงสุดมากกว่าเงินเดือนขั้นต่ำ'
      } else {
        return 'กรุณาใส่เงินเดือน'
      }
    },
    validFeedbackSalary () {
      return this.stateSalary === true ? 'สำเร็จ' : ''
    },
    stateDescription () {
      return this.form.description.length >= 1
    },
    invalidFeedbackDescription () {
      if (this.form.description.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่รายละเอียด'
      }
    },
    validFeedbackDescription () {
      return this.stateDescription === true ? 'สำเร็จ' : ''
    },
    stateEducate () {
      return this.form.educate != null
    },
    invalidFeedbackEducate () {
      if (this.form.educate != null) {
        return ''
      } else {
        return 'กรุณาเลือกระดับการศึกษา'
      }
    },
    validFeedbackEducate () {
      return this.stateEducate === true ? 'สำเร็จ' : ''
    },
    stateBenefit () {
      return this.form.benefit.length >= 1
    },
    invalidFeedbackBenefit () {
      if (this.form.benefit.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่รายละเอียดสวัสดิการ'
      }
    },
    validFeedbackBenefit () {
      return this.stateBenefit === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาใส่เพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateAge () {
      return this.form.min_age >= 1 && this.form.min_age < this.form.max_age
    },
    invalidFeedbackAge () {
      if (this.form.min_age < 1 || this.form.max_age < 1) {
        return 'กรุณาใส่อายุมากกว่าหรือเท่ากับ 0'
      } else if (this.form.min_age > this.form.max_age) {
        return 'กรุณาใส่อายุสูงสุดมากกว่าอายุขั้นต่ำ'
      } else {
        return 'กรุณาใส่อายุ'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateExperience () {
      return (
        this.form.min_experience >= 0 &&
        this.form.max_experience >= this.form.min_experience
      )
    },
    invalidFeedbackExperience () {
      if (this.form.min_experience < 0) {
        return 'กรุณาใส่ประสบการณ์มากกว่าหรือเท่ากับ 0'
      } else if (this.form.min_experience > this.form.max_experience) {
        return 'กรุณาใส่ประสบการณ์สูงสุดมากกว่าประสบการณ์ขั้นต่ำ'
      } else {
        return 'กรุณาใส่ประสบการณ์'
      }
    },
    validFeedbackExperience () {
      return this.stateExperience === true ? 'สำเร็จ' : ''
    },
    stateNewGraduates () {
      return this.form.new_graduates != null
    },
    invalidFeedbackNewGraduates () {
      if (this.form.new_graduates != null) {
        return ''
      } else {
        return 'กรุณาเลือกตัวเลือก'
      }
    },
    validFeedbackNewGraduates () {
      return this.stateNewGraduates === true ? 'สำเร็จ' : ''
    },
    stateProperties () {
      return this.form.properties.length >= 1
    },
    invalidFeedbackProperties () {
      if (this.form.properties.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่คุณสมบัติ'
      }
    },
    validFeedbackProperties () {
      return this.stateProperties === true ? 'สำเร็จ' : ''
    },
    stateDateClose () {
      return this.form.date_close.length >= 1
    },
    invalidFeedbackDateClose () {
      if (this.form.date_close.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่วันที่ปิดประกาศ'
      }
    },
    validFeedbackDateClose () {
      return this.stateDateClose === true ? 'สำเร็จ' : ''
    },
    stateAmount () {
      return this.form.amount >= 1
    },
    invalidFeedbackAmount () {
      if (this.form.amount < 1) {
        return 'กรุณาใส่จำนวนที่รับมากกว่า 0'
      } else {
        return 'กรุณาใส่ประการณ์'
      }
    },
    validFeedbackAmount () {
      return this.stateAmount === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getJobs()
  }
}
</script>
