<template>
  <div>
    <h3 class="pt-5 text-center">จัดการประกาศรับสมัครงาน</h3>
    <b-container class="bv-example-row">
      <b-button
        variant="success"
        class="float-right mb-2 mt-2"
        router-link
        to="/form"
        >เพิ่มประกาศรับสมัคร</b-button
      ><br />
      <br />
      <br />
      <b-table striped hover :items="AnmsList" :fields="fields">
        <template v-slot:cell(operations)="data"
          ><b-button
            @click="editAnm(data.item._id)"
            router-link
            :to="{ name: 'watchForm', params: { id: data.item._id } }"
            >ดูรายละเอียด</b-button
          >
          &nbsp;
          <!-- <b-button variant="danger" @click="delAnm(data.item)">Delete</b-button> -->
        </template>
      </b-table>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
// import userService from './UserService'
export default {
  data () {
    return {
      AnmsList: [],
      fields: [
        { key: 'name', label: 'ชื่อ' },
        { key: 'job.position', label: 'ตำแหน่ง' },
        { key: 'address', label: 'ที่อยู่บริษัท' },
        { key: 'min_salary', label: 'เงินเดือนขั้นต่ำ' },
        { key: 'max_salary', label: 'เงินเดือนสูงสุด' },
        { key: 'amount', label: 'จำนวนที่รับ' },
        { key: 'date_close', label: 'เวลาปิดประกาศ' },
        { key: 'status', label: 'สถานะ' },
        'operations'
      ]
    }
  },
  methods: {
    addNewAnm () {
      console.log('addNew')
      this.title = 'กรุณาเพิ่มผู้ใช้งาน'
      // this.$bvModal.show('modal-form-anm')
    },
    editAnm (anm) {
      this.title = 'แก้ไขผู้ใช้งาน'
      console.log('edit')
      console.log(anm)
      // this.$bvModal.show('modal-form-anm')
      this.getAnm(anm)
    },
    delAnm (anm) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + anm.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/anms/' + anm._id)
              .then(res => {
                console.log(res)
                this.getAnms()
              })
              .catch(err => {
                console.log(err)
              })
            this.getAnms()
          }
        })
    },
    getAnms () {
      // this.userList = userService.getAnms()
      axios
        .get(
          'http://localhost:3000/humanResources/' +
            this.$session.get('user')._id
        )
        .then(res => {
          // console.log(res)
          console.log(res.data.humanResourcess.app_announce)
          this.AnmsList = res.data.humanResourcess.app_announce
        })
        .catch(err => {
          console.log(err)
        })
    },
    getAnm (anm) {
      // this.userList = userService.getAnms()
      axios
        .get('http://localhost:3000/anms/' + anm._id)
        .then(res => {
          // console.log(res)
          console.log(res.data.anm)
        })
        .catch(err => {
          console.log(err)
        })
    }
    // ,getAnm (anm) {
    //   // this.userList = userService.getAnms()
    //   axios
    //     .get('http://localhost:3000/anms/' + this.anm.id)
    //     .then(res => {
    //       console.log(res)
    //       this.AnmsList = res.data
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // }
  },
  computed: {},
  mounted () {
    this.getAnms()
  }
}
</script>
