<template>
  <div>
    <b-container class="pt-3">
      <b-card>
        <h3
          style="text-align: center; font-style: normal; font-weight: bold; margin-top: 10px"
        >
          สถานะการสมัครงาน
        </h3>
        <b-table striped hover :items="jobList" :fields="fields">
          <template> </template>
        </b-table>
      </b-card>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      jobList: [
        {
          id: 1,
          jobposting: 'Senior Developer',
          company: 'ProsperSof Consulting Co., Ltd',
          status: 'ผ่าน'
        },
        {
          id: 2,
          jobposting: 'Software Engineer',
          company: 'PTW Technology Company Limited',
          status: 'ไม่ผ่าน'
        },
        {
          id: 3,
          jobposting: 'IT Support',
          company: 'พีเอสเอส กรุ๊ป (ประเทศไทย) จำกัด',
          status: 'ผ่าน'
        }
      ],
      fields: [
        { key: 'jobposting', label: 'ชื่อประกาศ' },
        { key: 'company', label: 'บริษัท' },
        { key: 'status', label: 'สถานะ' }
      ]
    }
  },
  methods: {
    getStatusApple () {
      axios
        .get('http://localhost:3000/statusapplyejob')
        .then(res => {
          console.log(res)
          this.jobList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue component is mouted')
    console.log()
  }
}
</script>
