<template>
  <b-container class="bv-example-row pt-3 pb-3">
    <b-card class="pa-5">
      <b-row class="justify-content-md-center">
        <h5 style="font-style: normal; font-weight: bold">
          จัดการข้อมูลส่วนบุคคล
        </h5>
      </b-row>
      <b-form @submit.prevent="submit">
        <b-row>
          <b-col>
            <div class="mt-2">ชื่อ:</div>
            <b-form-input
              type="fname"
              placeholder="ชื่อ"
              v-model="applicant.name"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">สกุล:</div>
            <b-form-input
              type="surname"
              placeholder="นามสกุล"
              v-model="applicant.surname"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">วัน/เดือน/ปีเกิด:</div>
            <b-form-input
              type="date"
              v-model="applicant.birthday"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">สถานภาพสมรส:</div>
            <b-form-select
              v-model="applicant.marital"
              :options="maritalOptions"
            ></b-form-select>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">เพศ:</div>
            <b-form-group label-for="gender" v-slot="{ ariaDescribedby }">
              <b-form-radio-group
                id="gender"
                v-model="applicant.gender"
                :options="genderOption"
                :aria-describedby="ariaDescribedby"
                name="radio-inline-gender"
              ></b-form-radio-group>
            </b-form-group>
          </b-col>
          <b-col>
            <div class="mt-2">สัญชาติ:</div>
            <b-form-select
              v-model="applicant.nationality"
              :options="nationalityOptions"
            ></b-form-select>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">ศาสนา {{ text }}</div>
            <b-form-select
              v-model="applicant.religion"
              :options="religionOptions"
            ></b-form-select>
          </b-col>
          <b-col>
            <div class="mt-2">ที่อยู่ปัจจุบัน:</div>
            <b-form-input
              placeholder="บ้านเลขที่"
              v-model="address.village_number"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">จังหวัด:</div>
            <b-form-select
              v-model="address.province"
              :options="provinceOptions"
            ></b-form-select>
          </b-col>
          <b-col>
            <div class="mt-2">เขต/อำเภอ:</div>
            <b-form-select
              v-model="address.district"
              :options="districtOptions"
            ></b-form-select>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">แขวง/ตำบล:</div>
            <b-form-select
              v-model="address.subdistrict"
              :options="subdistrictOptions"
            ></b-form-select>
          </b-col>
          <b-col>
            <div class="mt-2">รหัสไปรษณีย์:</div>
            <b-form-input
              placeholder="รหัสไปรษณีย์"
              v-model="address.zipcode"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">เบอร์โทรศัพท์:</div>
            <b-form-input
              placeholder="เบอร์มือถือ"
              v-model="applicant.phone"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">วุฒิการศึกษา:</div>
            <b-form-select
              v-model="resume.educational"
              :options="educationalOptions"
            ></b-form-select>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">ชื่อสถานศึกษา:</div>
            <b-form-input
              placeholder="ชื่อสถานศึกษา"
              v-model="resume.university"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">คณะ:</div>
            <b-form-input
              placeholder="คณะ"
              v-model="resume.faculty"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">สาขา:</div>
            <b-form-input
              placeholder="สาขา"
              v-model="resume.branch"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">เกรดเฉลี่ย:</div>
            <b-form-input
              placeholder="เกรดเฉลี่ย"
              v-model="resume.gpa"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">ความสามารถพิเศษ:</div>
            <b-form-textarea
              id="experience"
              v-model="resume.ability"
              placeholder="กรอกข้อมูลความสามารถพิเศษ"
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">ความสามารถทางภาษา:</div>
            <b-form-group v-slot="{ ariaDescribedby }">
              <b-form-checkbox-group
                id="checkbox-group-1"
                v-model="resume.languageability"
                :options="options"
                :aria-describedby="ariaDescribedby"
              ></b-form-checkbox-group>
            </b-form-group>
          </b-col>
          <b-col>
            <div class="mt-2">ประสบการณ์:</div>
            <b-input-group>
              <b-form-input
                class="border-right-0"
                type="number"
                v-model="resume.experience"
                placeholder="กรุณาใส่ประสบการณ์"
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  ปี
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <div class="pt-3 float-right">
          <b-button variant="success" type="submit">บันทึก</b-button>&nbsp;
          <b-button variant="danger" @click="cancel">ยกเลิก</b-button>
        </div>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    resume: {
      university: '',
      faculty: '',
      branch: '',
      educational: 'null',
      gpa: '',
      languageability: [],
      ability: '',
      experience: ''
    },
    applicant: {
      name: '',
      surname: '',
      birthday: '',
      gender: 'null',
      phone: '',
      marital: 'null',
      nationality: 'null',
      religion: 'null'
    },
    address: {
      village_number: '',
      district: 'null',
      subdistrict: 'null',
      province: 'null',
      zipcode: ''
    },
    maritalOptions: [
      { text: 'กรุณาเลือกสถานะภาพสมรส', value: null, disabled: true },
      { value: 'โสด', text: 'โสด' },
      { value: 'สมรส', text: 'สมรส' },
      { value: 'หย่า', text: 'หย่า' },
      { value: 'หม้าย', text: 'หม้าย' }
    ],
    genderOption: [
      { value: 'male', text: 'ผู้ชาย' },
      { value: 'female', text: 'ผู้หญิง' }
    ],
    nationalityOptions: [
      { text: 'โปรดระบุ', value: null, disabled: true },
      { value: 'ไทย', text: 'ไทย' },
      { value: 'กัมพูชา', text: 'กัมพูชา' },
      { value: 'เวียดนาม', text: 'เวียดนาม' },
      { value: 'ลาว', text: 'ลาว' }
    ],
    religionOptions: [
      { text: 'โปรดระบุ', value: null, disabled: true },
      { value: 'พุทธ', text: 'พุทธ' },
      { value: 'คริสต์', text: 'คริสต์' },
      { value: 'อิสลาม', text: 'อิสลาม' }
    ],
    provinceOptions: [
      { text: 'โปรดระบุจังหวัด', value: null, disabled: true },
      { value: 'Chonburi', text: 'ชลบุรี' }
    ],
    districtOptions: [
      { text: 'โปรดระบุอำเภอ', value: null, disabled: true },
      { value: 'Sattahip', text: 'สัตหีบ' }
    ],
    subdistrictOptions: [
      { text: 'โปรดระบุตำบล', value: null, disabled: true },
      { value: 'Najomtien', text: 'นาจอมเทียน' }
    ],
    educationalOptions: [
      { text: 'โปรดระบุวุฒิการศึกษา', value: null, disabled: true },
      { value: 'High school', text: 'มัธยมปลาย' },
      { value: 'masters degree', text: 'ปริญญาตรี' },
      { value: 'bachelor', text: 'ปริญญาโทร' },
      { value: 'Ph.D.', text: 'ปริญญาเอก' }
    ],
    languageability: [], // Must be an array reference!
    options: [
      { text: 'ไทย', value: 'Thai' },
      { text: 'อังกฤษ', value: 'English' },
      { text: 'จีน', value: 'Chinese' },
      { text: 'ญี่ปุ่น', value: 'Japanese' }
    ]
  })
}
</script>
