<template>
  <b-container class="pt-3 pb-3">
    <b-card class="pa-5">
      <b-row class="justify-content-md-center">
        <h5 style="font-style: normal; font-weight: bold">
          รายละเอียดงาน
        </h5>
      </b-row>
      <b-form @submit.prevent="submit">
        <b-row>
          <b-col>
            <div class="mt-2">ชื่อประกาศ: {{ form.name }}</div>
          </b-col>
          <b-col>
            <div class="mt-2">ชื่อบริษัท:</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">สายอาชีพ: {{ form.job.career }}</div>
          </b-col>
          <b-col>
            <div class="mt-2">สถานปฏิบัติงาน: {{ form.address }}</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">เงินเริ่มต้น: {{ form.min_salary }} บาท</div>
          </b-col>
          <b-col>
            <div class="mt-2">เงินเดือนสูงสุด: {{ form.max_salary }} บาท</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">รายละเอียดงาน: {{ form.description }}</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">สวัสดิการ: {{ form.benefit }}</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">เพศ: {{ form.gender }}</div>
          </b-col>
          <b-col>
            <div class="mt-2">
              อายุ: {{ form.min_age }} ปี ถึง {{ form.max_age }} ปี
            </div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">จำนวน: {{ form.amount }} คน</div>
          </b-col>
          <b-col>
            <div class="mt-2">ระดับการศึกษา: {{ form.educate }}</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">
              ประสบการณ์: {{ form.min_experience }} ปี ถึง
              {{ form.max_experience }} ปี
            </div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">คุณสมบัติ: {{ form.properties }}</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">วันปิดประกาศ: {{ form.date_close }}</div>
          </b-col>
          <b-col>
            <div class="mt-2">สถานะประกาศ: เปิดรับสมัครอยู่</div>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="pt-3 float-right">
              <b-button variant="success" type="submit">สมัครงานทันที</b-button
              >&nbsp;
              <b-button variant="secondary" @click="cancel">ย้อนกลับ</b-button>
            </div>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        name: '',
        job: '',
        position: '',
        amount: 0,
        address: null,
        min_salary: 0,
        max_salary: 0,
        description: '',
        benefit: '',
        gender: 'All gender',
        min_age: 0,
        max_age: 0,
        educate: null,
        min_experience: 0,
        max_experience: 0,
        new_graduates: false,
        type_job: 'full_time',
        properties: '',
        date_open: '',
        date_close: '',
        status: true
      }
    }
  },
  methods: {
    cancel () {
      this.$router.back()
    },
    getAnm () {
      var _id = this.$route.params.id
      axios
        .get('http://localhost:3000/anms/' + _id)
        .then(res => {
          console.log(res.data)
          this.form = res.data.anms
        })
        .catch(err => {
          console.log(err)
        })
    }
  },

  mounted () {
    this.getAnm()
  }
}
</script>
