<template>
  <b-container class="pt-3 pb-3">
    <b-card class="pt-3">
      <b-form @submit.prevent="submit">
        <b-row>
          <b-col cols="5">
            <b-input-group>
              <b-input-group-prepend>
                <span class="input-group-text"
                  ><img src="../../assets/suitcase.png" width="20px" />
                </span>
              </b-input-group-prepend>
              <b-form-input v-model="form.position" placeholder="ตำแหน่งงาน">
              </b-form-input>
            </b-input-group>
          </b-col>
          <b-col cols="2">
            <b-button class="float-left" type="button" variant="success"
              >ค้นหา</b-button
            >
          </b-col>
        </b-row>
      </b-form>
    </b-card>
    <b-card class="pa-5">
      <div>
        <b-table striped hover :items="JobList" :fields="fields">
          <template v-slot:cell(operation)="data"
            ><b-button
              variant="primary"
              router-link
              :to="{ name: 'jobDetail', params: { id: data.item._id } }"
              >ดูรายละเอียด</b-button
            >
          </template>
        </b-table>
      </div>
    </b-card>
  </b-container>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        position: ''
      },
      JobList: [],
      fields: [
        { key: 'name', label: 'ชื่อประกาศ' },
        { key: 'name', label: 'บริษัท' },
        { key: 'job.position', label: 'ชื่อตำแหน่ง' },
        { key: 'job.career', label: 'สายอาชีพ' },
        { key: 'address', label: 'สถานที่ปฏิบัติงาน' },
        { key: 'min_salary', label: 'เงินเดือนขั้นต่ำ' },
        { key: 'max_salary', label: 'เงินเดือนสูงสุด' },
        { key: 'operation', label: 'รายละเอียดรับสมัคร' }
      ]
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },

    getAnms () {
      // this.userList = userService.getAnms()
      axios
        .get('http://localhost:3000/anms/')
        .then(res => {
          // console.log(res)
          console.log(res.data.anms)
          this.JobList = res.data.anms
        })
        .catch(err => {
          console.log(err)
        })
    }
    // getAnmsByText () {
    //   // this.userList = userService.getAnms()
    //   if (this.form.position !== '') {
    //     axios
    //       .get('http://localhost:3000/anms/search/' + this.form.position)
    //       .then(res => {
    //         // console.log(res)
    //         console.log(res.data.anms)
    //         this.JobList = res.data.anms
    //       })
    //       .catch(err => {
    //         console.log(err)
    //       })
    //   } else {
    //     axios
    //       .get('http://localhost:3000/anms/')
    //       .then(res => {
    //         // console.log(res)
    //         console.log(res.data.anms)
    //         this.JobList = res.data.anms
    //       })
    //       .catch(err => {
    //         console.log(err)
    //       })
    //   }
    // }
  },
  computed: {},
  mounted () {
    this.getAnms()
  }
}
</script>
