<template>
  <div>
    <h3
      style="text-align: center; font-style: normal; font-weight: bold; margin-top: 25px"
    >
      ดูรายละเอียดข้อมูลผู้สมัครงาน
    </h3>
    <div
      style="margin-top:30px; width:700px; height:600px; border: groove black 2px; border-radius: 3px;"
      class="container"
    >
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px; margin-top: 20px" class="col">
          ชื่อ:
        </div>
        <div style="margin-top: 20px" class="col">
          สกุล: 
        </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          เกิดวันที่: 
        </div>
        <div class="col">สถานภาพสมรส: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          เพศ: {{ Applicant.gender }}
        </div>
        <div class="col">สัญชาติ: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          ศาสนา: {{ Applicant.religion }}
        </div>
        <div class="col">ที่อยู่ปัจจุบัน: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          ตำบล/แขวง: {{ Applicant.district }}
        </div>
        <div class="col">เขต/อำเภอ: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          จังหวัด: {{ Applicant.province }}
        </div>
        <div class="col">เบอร์โทรศัพท์: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          รหัสไปรษณีย์: {{ Applicant.postal_code }}
        </div>
        <div class="col">วุฒิการศึกษา: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px" class="col">
          ชื่อสถานศึกษา: 
        </div>
        <div class="col">คณะ: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px;" class="col">
          สาขาวิชา: 
        </div>
        <div class="col">เกรดเฉลี่ย: </div>
      </div>
      <div style="margin-top:20px" class="row">
        <div style="margin-left: 60px;" class="col">
          ความสามารถทางภาษา: 
        </div>
        <div class="col">ความสามารถพิเศษ: </div>
      </div>
      <div style="margin-top:40px" class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div style="margin-left: 40px; " class="col">
          <b-button variant="success">ยินยันรับสมัคร</b-button>
        </div>
        <div style="margin-left: -60px;" class="col">
          <b-button variant="danger">ปฏิเสธ</b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      JobAnm: {
        _id: '',
        name: '',
        job: '',
        amount: '',
      }
    }
  },
  methods: {
   
  },
  mounted () {
    // console.log(id)
    // console.log(Service.getApplicant(id))
    // console.log(Service.getApplicant(id))
  }
}
</script>
