<template>
  <div class="about">
    <b-card>
      <h3 class="pt-5 text-center">จัดการข้อมูลส่วนบุคคล</h3>

      <b-form @submit="onSubmit">
        <b-container class="bv-example-row">
          <b-row>
            <b-col>
              <b-button
                class="float-right"
                type="button"
                variant="primary"
                @click="readyToEdit = true"
                >แก้ไข้ข้อมูล</b-button
              >
            </b-col>

            <div class="w-100"></div>
            <b-col
              ><b-form-group
                id="input-group-1"
                label="ชื่อ:"
                label-for="inputName"
              >
                <b-form-input
                  id="inputName"
                  v-model="form.name"
                  placeholder="ชื่อ"
                  required
                  :disabled="!readyToEdit"
                ></b-form-input> </b-form-group
            ></b-col>
            <b-col
              ><b-form-group
                id="input-group-1"
                label="สกุล:"
                label-for="inputSurname"
              >
                <b-form-input
                  id="inputSurname"
                  v-model="form.surname"
                  placeholder="นามสกุล"
                  required
                  :disabled="!readyToEdit"
                ></b-form-input> </b-form-group
            ></b-col>
            <div class="w-100"></div>
            <b-col
              ><b-form-group
                id="input-group-1"
                label="Email:"
                label-for="inputEmail"
              >
                <b-form-input
                  id="inputEmail"
                  v-model="form.email"
                  type="email"
                  placeholder="e-mail"
                  required
                  :disabled="!readyToEdit"
                ></b-form-input> </b-form-group
            ></b-col>
            <b-col
              ><b-form-group
                id="input-group-1"
                label="เบอร์โทรศัพท์:"
                label-for="inputTel"
              >
                <b-form-input
                  id="inputTel"
                  v-model="form.tel"
                  placeholder="เบอร์โทรศัพท์"
                  required
                  :disabled="!readyToEdit"
                ></b-form-input> </b-form-group
            ></b-col>
            <div class="w-100"></div>
            <b-col cols="12" md="11">
              <b-button
                class="float-right"
                type="submit"
                variant="success"
                :disabled="!readyToEdit"
                >บันทึก</b-button
              ></b-col
            >
            <b-col cols="6" md="1">
              <b-button
                class="float-right"
                type="reset"
                variant="danger"
                :disabled="!readyToEdit"
                >ยกเลิก</b-button
              ></b-col
            >
          </b-row>
        </b-container>
      </b-form>
      <span>{{ form }}</span>
    </b-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      readyToEdit: false,
      form: {
        name: '',
        surname: '',
        email: '',
        tel: ''
      }
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    }
  },
  computed: {}
}
</script>
