<template>
  <b-container class="bv-example-row pt-3 pb-3">
    <b-card class="pa-5">
      <b-row class="justify-content-md-center">
        <h5 style="font-style: normal; font-weight: bold">
          สมัครสมาชิกสำหรับบริษัท
        </h5>
      </b-row>
      <b-form @submit.prevent="submit">
        <b-row>
          <b-col>
            <div class="mt-2">Email:</div>
            <b-form-input
              type="email"
              placeholder="Email"
              v-model="humanresources.email"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">Password:</div>
            <b-form-input
              type="password"
              placeholder="Password"
              v-model="humanresources.password"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">ชื่อ:</div>
            <b-form-input
              placeholder="ชื่อ"
              v-model="humanresources.name"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">สกุล:</div>
            <b-form-input
              placeholder="นามสกุล"
              v-model="humanresources.surname"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">เบอร์โทรศัพท์:</div>
            <b-form-input
              placeholder="เบอร์มือถือ"
              v-model="humanresources.phone"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">ชื่อบริษัท:</div>
            <b-form-input
              placeholder="ชื่อบริษัท"
              v-model="company.name"
              required
            ></b-form-input>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">ที่อยู่บริษัท:</div>
            <b-form-input
              placeholder="ที่อยู่เลขที่"
              v-model="address.village_number"
              required
            ></b-form-input>
          </b-col>
          <b-col>
            <div class="mt-2">จังหวัด:</div>
            <b-form-select
              v-model="address.province"
              :options="provinceOptions"
            ></b-form-select>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">เขต/อำเภอ:</div>
            <b-form-select
              v-model="address.district"
              :options="districtOptions"
            ></b-form-select>
          </b-col>
          <b-col>
            <div class="mt-2">แขวง/ตำบล:</div>
            <b-form-select
              v-model="address.subdistrict"
              :options="subdistrictOptions"
            ></b-form-select>
          </b-col>
          <div class="w-100"></div>
          <b-col>
            <div class="mt-2">รหัสไปรษณีย์:</div>
            <b-form-input
              placeholder="รหัสไปรษณีย์"
              v-model="address.zipcode"
              required
            ></b-form-input>
          </b-col>
          <b-col> </b-col>
        </b-row>
        <div class="pt-3 float-right">
          <b-button variant="success" type="submit">สมัครสมาชิก</b-button>&nbsp;
          <b-button variant="danger" @click="cancel">ยกเลิก</b-button>
        </div>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data: () => ({
    humanresources: {
      email: '',
      password: '',
      name: '',
      surname: '',
      phone: ''
    },
    company: {
      name: ''
    },
    address: {
      village_number: '',
      district: 'null',
      subdistrict: 'null',
      province: 'null',
      zipcode: ''
    },
    provinceOptions: [
      { text: 'โปรดระบุจังหวัด', value: null, disabled: true },
      { value: 'Chonburi', text: 'ชลบุรี' }
    ],
    districtOptions: [
      { text: 'โปรดระบุอำเภอ', value: null, disabled: true },
      { value: 'Sattahip', text: 'สัตหีบ' }
    ],
    subdistrictOptions: [
      { text: 'โปรดระบุตำบล', value: null, disabled: true },
      { value: 'Najomtien', text: 'นาจอมเทียน' }
    ]
  })
}
</script>
