<template>
  <div>
    <b-container class="bv-example-row">
      <b-row>
        <b-col
          ><b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1024"
            img-height="480"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
          >
            <!-- Text slides with image -->
            <b-carousel-slide
              img-src="https://www.img.in.th/images/052925ba1721d0cf7693b1ba946571f2.gif"
            ></b-carousel-slide>

            <!-- Slides with custom text -->
            <b-carousel-slide
              img-src="https://www.img.in.th/images/b25081af188bd5aaa69dd1832bc666dc.gif"
            >
            </b-carousel-slide>

            <!-- Slides with image only -->
            <b-carousel-slide
              img-src="https://www.img.in.th/images/a5f4aee25c6bbc90c86be3813747a21c.gif"
            ></b-carousel-slide> </b-carousel
        ></b-col>
        <div class="w-100"></div>
        <br /><br />
        <b-col
          ><b-card
            title="Tesco Lotus"
            img-src="https://www.img.in.th/images/ebdb75d99a41d99c2188ceae03f221c0.png"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              หางานTesco Lotus
            </b-card-text>
          </b-card></b-col
        >
        <b-col
          ><b-card
            title="Mac"
            img-src="https://www.img.in.th/images/62a7169c54a3ca56779ba7d0c7785111.png"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              หางานMac
            </b-card-text>
          </b-card></b-col
        >
        <b-col
          ><b-card
            title="Tesco Lotus"
            img-src="https://www.img.in.th/images/ebdb75d99a41d99c2188ceae03f221c0.png"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              หางานTesco Lotus
            </b-card-text>
          </b-card></b-col
        >
        <b-col
          ><b-card
            title="Mac"
            img-src="https://www.img.in.th/images/62a7169c54a3ca56779ba7d0c7785111.png"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              หางานMac
            </b-card-text>
          </b-card></b-col
        >
        <b-col
          ><b-card
            title="Tesco Lotus"
            img-src="https://www.img.in.th/images/ebdb75d99a41d99c2188ceae03f221c0.png"
            img-alt="Image"
            img-top
          >
            <b-card-text>
              หางานTesco Lotus
            </b-card-text>
          </b-card></b-col
        >
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
