<template>
  <b-container class="pt-3">
    <b-row class="justify-content-center">
      <b-card style="width:400px;">
        <img src="../assets/logobg.jpg" width="350" height="200px" />
        <b-form>
          <b-form-group
            label="Email:"
            label-for="input-1"
            description="กรุณากรอกอีเมล์"
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              placeholder="Email"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Password:"
            label-for="input-2"
            description="กรุณากรอกรหัสผ่าน"
          >
            <b-form-input
              type='password'
              id="input-2"
              v-model="form.password"
              placeholder="Password"
            ></b-form-input>
          </b-form-group>
          <b-row>
            <b-col>
              <b-button
                type="button"
                @click="register"
                variant="outline-primary"
                >สมัครสมาชิก</b-button
              >
            </b-col>
            <b-col>
              <b-button
                class="float-right"
                type="button"
                @click="onSubmit"
                variant="success"
                >เข้าสู่ระบบ</b-button
              >
            </b-col>
          </b-row>
        </b-form>
      </b-card>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    register () {},
    onSubmit () {
      axios
        .post('http://localhost:3000/users/login', this.form)
        .then(res => {
          this.$session.start()
          this.$session.set('user', res.data)
          // console.log(res.data)
          location.reload()
        })
        .catch(() => {
          alert('Password incorrect')
          // console.log(err)
        })
    }
  },
  mounted () {
    if (this.$session.exists()) {
      this.$router.push('/')
    }
  }
}
</script>
