<template>
  <div class="userManagementCompany">
    <b-container class="bv-example-row pt-3">
      <b-card class="pa-5">
        <b-row class="justify-content-md-center">
          <h5>จัดการข้อมูลส่วนบุคคล</h5>
        </b-row>

        <b-form @submit="onSubmit">
          <b-container class="bv-example-row">
            <b-row>
              <b-col>
                <b-button
                  class="float-right"
                  type="button"
                  variant="primary"
                  @click="readyToEdit = true"
                  >แก้ไขข้อมูล</b-button
                >
              </b-col>

              <div class="w-100"></div>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="ชื่อ:"
                  label-for="inputName"
                >
                  <b-form-input
                    id="inputName"
                    v-model="humanresources.name"
                    placeholder="ชื่อ"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="สกุล:"
                  label-for="inputSurname"
                >
                  <b-form-input
                    id="inputSurname"
                    v-model="humanresources.surname"
                    placeholder="นามสกุล"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <div class="w-100"></div>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="เบอร์โทรศัพท์:"
                  label-for="inputTel"
                >
                  <b-form-input
                    id="inputTel"
                    v-model="humanresources.phone"
                    placeholder="เบอร์โทรศัพท์"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="ชื่อบริษัท:"
                  label-for="inputName"
                >
                  <b-form-input
                    id="inputName"
                    v-model="company.name"
                    placeholder="ชื่อบริษัท"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <div class="w-100"></div>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="ที่อยู่บริษัท:"
                  label-for="inputvillage_number"
                >
                  <b-form-input
                    id="inputvillage_number"
                    v-model="address.village_number"
                    placeholder="ที่อยู่บริษัท"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="จังหวัด:"
                  label-for="inputprovince"
                >
                  <b-form-input
                    id="inputprovince"
                    v-model="address.province"
                    placeholder="จังหวัด"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <div class="w-100"></div>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="เขต/อำเภอ:"
                  label-for="inputdistrict"
                >
                  <b-form-input
                    id="inputdistrict"
                    v-model="address.district"
                    placeholder="เขต/อำเภอ"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="ตำบล/แขวง:"
                  label-for="inputsubdistrict"
                >
                  <b-form-input
                    id="inputsubdistrict"
                    v-model="address.subdistrict"
                    placeholder="ตำบล/แขวง"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group
              ></b-col>
              <div class="w-100"></div>
              <b-col
                ><b-form-group
                  id="input-group-1"
                  label="รหัสไปรษณีย์:"
                  label-for="inputzipcode"
                >
                  <b-form-input
                    id="inputzipcode"
                    v-model="address.zipcode"
                    placeholder="รหัสไปรษณีย์"
                    required
                    :disabled="!readyToEdit"
                  ></b-form-input> </b-form-group></b-col
              ><b-col></b-col>
              <div class="w-100"></div>
              <b-col cols="12" md="11">
                <b-button
                  class="float-right"
                  type="submit"
                  variant="success"
                  :disabled="!readyToEdit"
                  >บันทึก</b-button
                ></b-col
              >
              <b-col cols="6" md="1">
                <b-button
                  class="float-right"
                  type="button"
                  variant="danger"
                  :disabled="!readyToEdit"
                  router link to = '/'>ยกเลิก</b-button
                ></b-col
              >
            </b-row>
          </b-container>
        </b-form>
        <!-- <span>{{ humanresources }}</span
        ><br />
        <span>{{ company }}</span
        ><br />
        <span>{{ address }}</span> -->
      </b-card>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      readyToEdit: false,
      humanresources: {
        name: '',
        surname: '',
        phone: ''
      },
      company: {
        name: ''
      },
      address: {
        village_number: '',
        province: '',
        district: '',
        subdistrict: '',
        zipcode: ''
      }
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    testCon () {
      console.log(this.$session.get('user').company)
    },
    setData () {
      this.humanresources.name = this.$session.get('user').name
      this.humanresources.surname = this.$session.get('user').surname
      this.humanresources.phone = this.$session.get('user').phone
    },

    getCompany () {
      // this.userList = userService.getAnms()
      axios
        .get(
          'http://localhost:3000/company/' + this.$session.get('user').company
        )
        .then(res => {
          console.log(res.data)
          this.company.name = res.data.company.name
          this.address.village_number =
            res.data.company.address.village_number
          this.address.province =
            res.data.company.address.province
          this.address.district =
            res.data.company.address.district
          this.address.subdistrict =
            res.data.company.address.subdistrict
          this.address.zipcode =
            res.data.company.address.zipcode
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  // computed: {},
  mounted () {
    this.testCon()
    this.getCompany()
    this.setData()
  }
}
</script>
